{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}


    <h1>Liste des modules</h1>

    <table class="table table-striped align-middle">

        <thead>
            <tr class="text-center">
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            {% for module in modules %}
                
            <tr class="text-center">
                <td>{{ module.nom }}</td>
                <td>{{ module.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
