{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}


    <h1>Liste des modules</h1>

    <table class="table table-striped align-middle">

        <thead>
            <tr class="text-center">
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for module in modules %}
                
            <tr class="text-center">
                <td>{{ module.nom }}</td>
                <td>{{ module.categorie }}</td>
                <td>{{ module.description}}</td>
                <td><a href="{{ path('update_module_formation', { 'id' : module.id }) }}"><i class="fa-solid fa-pen"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
