{% extends 'base.html.twig' %}

{% block title %}{{ categorie }}{% endblock %}

{% block body %}
<h1>{{ categorie }}</h1>

<h2>Modules</h2>



<table class="table table-striped align-middle">
    <thead>
        <tr class="text-center">
            <th>Nom</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for module in categorie.moduleformations %}
        <tr class="text-center">
            <td> {{ module.nom }} </td>
            <td> {{ module.description }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
