{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}


<h1>Liste des formateurs</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>

        {% for formateur in formateurs %}
            
        <tr>
            <td><a href="{{ path('show_formateur', { 'id' : formateur.id}) }}">{{ formateur }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
